@import "normalize";

*, *:before, *:after  {
   box-sizing: border-box;
}

@font-face {
  font-family: "KlinicSlabBold";
  src: url("fonts/KlinicSlabBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "KlinicSlabMedium";
  src: url("fonts/KlinicSlabMedium.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MavenProLight-300";
  src: url("fonts/MavenProLight-300.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MavenProLight-200";
  src: url("fonts/MavenProLight-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "MavenProLight-100";
  src: url("fonts/MavenProLight-100.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

html, body {
    height: 100%;
    min-height: 100%;
}

.center {
    text-align: center;
}

.ruby-style {
    margin: 0;
    font-family: "MavenProLight-300", sans-serif;
    color: #33BEB1;
    a {
       text-decoration: none;
       &:visited {
        color: inherit;
       }
    }
}

body {
    background: image-url('crossword-color.png') #078691;
    font-family: "MavenProLight-300", serif;
    color: #2B4146;
    width: 100%;
    font-size: 1.25em;
    
}

/*header*/

header {
    
    display: flex;
    flex-direction: column;
    // width: 100%;
    // height: 100%;
}

/*nav*/
.main-nav {
    order: 2;
    text-align: center;
    margin-top: 1px;

    li {
        display: inline-block;
        margin-right: .5em;
        }

    span {
        display: none;
    }
    a {
        text-decoration: none;
        color: inherit;
    }

    ul {
        display: none;
        width: 100%;
        background-color: #33BEB1;
        list-style-type: none; 
        margin: 0;
        padding: 1em;
        border-bottom: 2px solid #000;
        }
}

/*nav: article view*/
.article-view {
    
}

.title-bar {
    @extend .center;
    order: 3;
    margin-bottom: 1em;
    text-decoration: none;
    color: inherit;
    // height: 100%;
    h1, h2 {
        padding: 0;
        margin: 0;
    }

    h1 {
        margin-top: .5em;
    }
}

/*body*/
.wrapper {
    height: 100%;
}

.intro {
    margin-top: 1em;
    order: 4;
    width: 100%;
    // height: 100%;

    h1, h2 {
        letter-spacing: 1px;
        margin: 0;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        margin: 0;
    }

    .about {
        margin: 1.25em;
    }

    .heredoc-top {
        margin-bottom: .5em;
    }

    .heredoc-btm {
        margin-top: .5em;
    }
}

.circle-link {
    cursor: pointer;
    text-decoration: none;
    color: #2B4146;
    border: 2px solid #2B4146;
    padding: .3em .4em;
    border-radius: 20px;
    font-family: "MavenProLight-300", sans-serif;

     &:active, &:hover {
        color: #fff;
        background-color: #078691;
        border-color: #fff;
    }

    .label {
        display: none;
        }
}

.open-menu {
    order: 1;
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: #2B4146;
    padding: 19px;

    .close-btn {
        display: none;
    }

    .circle-link {
        border-color: #FFF;
        color: #FFF;
    }
}

//blog entries
.blog-entries {
    order: 3;
    background-color: #fff;
    width: 100%;
    ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        border-bottom: solid 1px #078691;
        padding: 1em 1em 0 1em;
        h2 {
            margin: 0 .5em; 
        }
        p {
            // @extend .center;
        }
    }

    a {
            text-decoration: none;
            color: inherit;
        }

}

//articles
.article {
    order: 3;
    height: 100%;
    padding: 1em;
    p {
        margin: 0;
        padding: 0;
    }

    background-color: #fff;
}

footer {
    background-color: #fff;
}

@media (min-width: 870px) {

    .wrapper {
        justify-content: center;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        order: 1;
        // width: auto;
        background-color: inherit;
        border: none;
        margin-top: 2.5em;
        margin-left: 1.5em;
        
        ul {
            // flex: 1 0 0;
            order: 2;
            // align-self: flex-end;
            // display: block;
        }
        
        .link_to_example {
            font-family: "MavenProLight-300", sans-serif;
            color: #33BEB1;
            display: inline;
            a {
                text-decoration: none;
                &:visited {
                    color: inherit;
                }
            }
        }

        .link_to_start {
            position: absolute;
            left: -100px;
        }
    }

    .intro {
        order: 1;
        width: 50%;
    }

    .circle-link {
        color: #2B4146;
         &:active, &:hover {
            background-color: #33BEB1;
        }
    }

    .open-menu {
        display: none;
    }

    //blog entries
    .blog-entries {
        order: 2;
        // margin: 0;
        // padding: 0;
    }

    /*nav: article view*/
    .article-view {
        
    }

    .title-bar {
        order: 1;
        // flex: 2 0 0;
        // align-self: flex-start;
    }


}






