<section class="intro">
    <div class="about">
        <span class="hint--top ruby-style heredoc-top" data-hint="Example: Ruby Heredoc"><a href="http://www.ruby-doc.org/core-2.1.1/doc/syntax/literals_rdoc.html#label-Here+Documents" alt="Example of a ruby heredoc"><<-ABOUT</a></span>
        <p class='center'>
            Hello there! I am primarily a Ruby on Rails Developer with a background in data analysis. I am estatic about learning new things. I enjoy long intellectual conversations about complex systems. If it's with a nice meal, even better! Thanks for taking a look around!
        </p>
        <span class="hint--top ruby-style heredoc-btm" data-hint="Example: Ruby Heredoc"><a href="http://www.ruby-doc.org/core-2.1.1/doc/syntax/literals_rdoc.html#label-Here+Documents" alt="Example of a ruby heredoc">ABOUT</a></span>
    </div>
</section>


